
.member_power{
  width: 100%;

  .power_top{
    background: url("../images/power_bg.png") center no-repeat;
    background-size: 120%;
    text-align: center;
    .member_logo{
      padding-top: 15px;
      position: relative;
      display: inline-block;

      >span{

        position: absolute;
        z-index: 1;
        width: 80px;
        height: 80px;
        top: 12px;
        left: -11px;
        background: url("../images/grade_bg_light.png") center no-repeat;
        background-size: 100%;
        animation: rotateFn 6s ease-in-out;

      }

      @keyframes rotateFn
      {
        0% {transform: rotate(0)}

        100% {transform: rotate(360deg)}
      }


      img{
        width: 55px;
        position: relative;
        z-index: 10;
      }
    }

    >p{
      text-align: center;

      &+p{
      padding-bottom: 10px;
        color: #ffffff;
        font-size: 12px;
      }

    }
  }

  .more_rule{

    display: block;
    text-align: center;
    padding: 12px 0;
    color: #4a4a4a;
  }
  .power_list{

    background: #ffffff;
    flex-wrap: wrap;

    a{
      display: inline-block;
      width: 33.33%;
     // flex: 1;
      text-align: center;
      color: #4a4a4a;
      padding: 18px 10px;
      box-sizing: border-box;
      border-bottom: solid 1px #f1f0f0;


      &:nth-child(3n-1){

        border-left: solid 1px #f1f0f0;

        border-right: solid 1px #f1f0f0;

      }

      img{
        width: 40px;
        height: 40px;
      }

      &.locked{
        position: relative;

        &:after{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          border-width: 0 38px 38px 0;
          border-style: solid;
          border-color: transparent #ddd transparent transparent;

        }

        &:before{
          content: '';
          width: 28px;
          height: 28px;
          background: url(../images/icon_locking.png) center no-repeat;
          background-size: 100%;
          position: absolute;
          top: -2px;
          right: -5px;
          z-index: 10;

        }

      }
    }

  }

}

//会员所有权限
.card_plate {
  margin: 15px;
  padding: 30px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 120px;
    height: 120px;
    left: -25px;
    bottom: -50px;
    background-image: url("../images/img_bottom_left.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &:after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    right: -30px;
    top: -45px;
    background-image: url("../images/img_top_right.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  p {
    color: #4a4a4a;
    position: relative;
    z-index: 2;

    &:first-child {
      font-weight: bold;
      font-size: 18px;
    }

    &:last-child {
      font-size: 14px;
    }

  }

}

.img_plate {
  position: absolute;
  right: 25px;
  bottom: 0;
  width: 110px;
  height: 110px;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
  }

}

.parts_details {
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
}

.parts_details_plate {
  margin: 0 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  &:last-child {
    margin-bottom: 0;
  }

}

.icon_plate {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-right: 10px;

  img {
    width: 100%;
    height: 100%;
  }

}

.parts_details_font {
  width: 85%;
}

.parts_details_title {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: bold;

  @media (max-width: 320px) {
    font-size: 14px;
  }

}

.more_details_font {
  color: #4a4a4a;
  font-size: 14px;

  @media (max-width: 320px) {
    font-size: 12px;
  }

}

//会员等级说明
.table_plate {
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  color: #4a4a4a;

  @media (max-width: 320px) {
    font-size: 12px;
  }

  tr {
    &:first-child {
      background-color: #f4f4f4;
    }

    th {
      padding: 5px 10px;
      text-align: center;
      border: 1px #dddddd solid;
      border-top: 1px #dddddd solid;
      border-right: none;

      &:last-child {
        border-right: 1px #dddddd solid;
      }

    }

    td {
      padding: 5px 10px;
      text-align: center;
      border: 1px #dddddd solid;
      border-top: none;
      border-right: none;

      &:last-child {
        border-right: 1px #dddddd solid;
      }

    }
  }
}

//即将上线
.coming_online_gray {
  width: 100%;
  display: inline-block;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: 30px;
    height: 33px;
    right: 0;
    top: 0;
    background-image: url("../images/img_coming_online.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  p {
    color: #8a8a8a;
  }

  img {
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
    opacity: 0.6;
  }

}
